<!DOCTYPE html>
<html>
  <head>
    <title>Rails Recipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
            <a href=""> Rails Recipe</a>
          </div>
        </div>
      
    
    
  </body>
</html>
